@charset "UTF-8";
body {
	background: #fff;
	font-family: 'Nunito';
	font-weight: normal;
	@media screen and (max-width: 990px) {
		font-size: 14px;
	}
	@media screen and (min-width: 990px ) and (max-width: 1180px) {
		font-size: 16px;
	}
	@media screen and (min-width: 1180px) {
		font-size: 18px;
	}
	color: #333;
	counter-reset: section;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	width: auto;
	transition: all 0.3s;
	&:hover {
		transition: all 0.3s;
	}
}

a {
	transition: all 0.3s;
	&:hover,
	&.active {
		text-decoration: none;
		transition: all 0.3s;
	}
}

input,
textarea,
select {
	&:focus {
		outline: none;
	}
}

ul {
	margin: 0;
	padding: 0;
}
